<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="{{ 'Author'|trans }}">

        {% block title %}
            <title>{{ 'SiteName'|trans }}</title>
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

    <body>

    <div class="brand">{{ 'SiteName'|trans }}</div>
    <div class="address-bar">Netvlies | Prinsenkade 8 | 4800 DW | Breda | 076-5302525</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ 'SiteName'|trans }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">{{ 'Home'|trans }}</a></li>
                    <li><a href="/about">{{ 'About'|trans }}</a></li>
                    <li><a href="/news">{{ 'News'|trans }}</a></li>
                    <li><a href="/contact">{{ 'Contact'|trans }}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div><!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; {{ 'Author'|trans }} 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    {% block javascripts %}{% endblock %}


    </body>
</html>