{% extends "layout.html.twig" %}

{% block title %}
    Welcome to your new Silex Application!
{% endblock %}

{% block content %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Sandbox <strong>News</strong></h2>
                <hr>
            </div>

            {% for item in items %}
                <div class="col-lg-12 text-center">
                    {% if item.img %}
                        <img class="img-responsive img-border img-full" src="/assets/img/{{ item.img }}">
                    {% endif %}

                    <h2>{{ item.title }}<br><small>{{ item.date }}</small></h2>
                    <p>{{ item.text }}</p>

                    {% if item.detail_link %}
                        <a href="/news/{{ item.detail_link }}" class="btn btn-default btn-lg">Lees Meer</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}

            {#<div class="col-lg-12 text-center">#}
                {#<img class="img-responsive img-border img-full" src="/assets/img/slide-3.jpg">#}
                {#<h2>Post Title<br><small>October 13, 2013</small></h2>#}
                {#<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
                {#<a href="#" class="btn btn-default btn-lg">Read More</a>#}
                {#<hr>#}
            {#</div>#}

            <div class="col-lg-12 text-center">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}